<!DOCTYPE HTML>
<html>

	<%- include("components/head") -%>
	
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	<%- include("components/header-menu") -%>

	
    <%- include("components/header") -%>
    
    <%- include("components/content/reservations") -%>

	<%- include("components/footer.ejs") -%>

	</div>

	<%-  include("components/footer-gototop.ejs") -%>

	<%- include("components/footer-scripts.ejs") -%>

	</body>
</html>

